/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Mont extra light';
  src: url("assets/fonts/MontDemo-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: 'Mont Heavy';
  src: url("assets/fonts/MontDemo-Heavy.otf") format("opentype");
}
body {
  font-family: 'Mont extra light';
  font-size: 16px;
}
